<h1>Inventory</h1>
<%= link_to 'Add Food Item', new_food_item_path %>
<table>
  <thead>
    <tr>
      <th><bold>Title</bold></th>
      <th><bold>Description</bold></th>
      <th><bold>Quantity</bold></th>
    </tr>
  </thead>


</table>
